<!DOCTYPE html>
<html>
  <head>
    <title>Car Dealership</title>
  </head>
  <body>
    <div class="container">
      <h1>Car Dealership</h1>
      <hr>
      <button src="/cars/new">Add New Car</button>
      <button src="/cars">View All Cars</button>
    </div>
  </body>
</html>