@using CarDealership.Models;

<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
  </head>
  <body>
    <h1>Cars Currently in Dealership:</h1>
    <ul>
      if(Model.Count == 0)
      {
        <p>There are currently no cars in the dealership.</p>
      }
      @foreach (Car car in Model)
      {
        <li>@car.Make, @car.Model, @car.Year</li>
      }
    </ul>
  </body>
</html>